// Calculate width of container
//
// @param $col-width
// @param $col-qty
// @param $gutter
//
// calc-container($col-width, $col-qty, $gutter);
//

@function calc-container($col-width, $col-qty, $gutter) {
	@return ($col-width * $col-qty) + $gutter * ($col-qty - 1) + $gutter;
}